@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fefeff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: auto;
}

section {
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: all;
  background-color: transparent;
}

.experience {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.mobile-scroll {
  display: none;
}

/* TEXTS */

.headline {
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 8vw;
  text-align: left;
  line-height: 100%;
}

.medium-headline{
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 3.25vw;
  line-height: 100%;
}

.small-headline{
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.smallest-headline{
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.75vw;
  line-height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.headline-blue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #fefeff, #1931FE, #1931FE, #fefeff, #1931FE, #1931FE, #fefeff);
  background-size: 400% 400%;
  animation: animate 8s linear infinite alternate;
}

@keyframes animate {
  0% { background-position: 100% 100%; }
  100% { background-position: 0 0; }
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.45vw;
  line-height: 145%;
}

.small-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 100%;
}

.small-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.85vw;
  line-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.big-text {
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 2.75vw;
  line-height: 100%;
  margin-top: 5%;
  margin-bottom: 0%;
}


.black {
  color: #111111;
}

.white {
  color: #fefeff;
}

.blue {
  color: #1931FE;
}

.darkblue {
  color: #070E2B;
}

.red {
  color: #F02D25;
}

.grey {
  color: #fefeff75;
}

.bold {
  font-weight: 500;
}

/* SMOOTH SCROLLING */


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* NAVIGATION BAR */
.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 0%;
  align-items: end;
  top: 0;
  position: fixed;
  z-index: auto;
  z-index: 2;
}

.nav .right-content a {
  text-decoration: none;
  color: inherit;
}

.left-content {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  z-index: 10;
}

.left-content img {
  width: 2.25vw;
  position: relative;
  z-index: 20;
}

.right-content {
  border: 1px solid #fefeff25;
  border-radius: 100px;
  padding: 1vh 2vw;
  display: flex;
  align-items: center;
  gap: 3vw; 
  background-color: #11111175;
  backdrop-filter: blur(10px);
}

.navigation-text {
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.navigation-text:hover {
  color: #787f87;
}

.linksone {
  height: 2.5vw;
  width: 2.5vw;
  background-image: linear-gradient(to bottom right, #febf06, #ef3457, #24215b);
  border-radius: 50%;
}

/* SECTION ONE */

.one {
  background-color: #111111;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.one-content {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.one-headline {
  font-size: 15vw;
  background: rgb(229,183,81);
  background: linear-gradient(180deg, rgba(229,183,81,1) 0%, rgba(207,150,41,0.6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SECTION TWO */

.two {
  background-color: #111111;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  justify-content: center;
}

.two-content {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.two-content.visible {
  opacity: 1;
  transform: scale(1);
}

.two-content-list {
  padding: auto;
  margin: 0;
}

/* SECTION THREE */

.three {
  background-color: #111111;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  justify-content: center;
}

.three-content {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.three-content.visible {
  opacity: 1;
  transform: scale(1);
}

/* SECTION FOUR */

.four {
  background-color: #111111;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  justify-content: center;
}

.four-content {
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.four-content.visible {
  opacity: 1;
  transform: scale(1);
}

.text-top {
  margin-bottom: 1vh;
}

.text-bottom {
  margin-top: 1vh;
}

/* SECTION FIVE */

.five {
  background-color: #111111;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0%;
  justify-content: center;
}

.five-content {
  width: 100%;
  height: 100%;
  padding: 0 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #11111175;
  backdrop-filter: blur(10px);
}

.five-content-texts {
  height: fit-content;
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.five-content-texts.visible {
  opacity: 1;
  transform: scale(1);
}

.form-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.form-form { 
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  gap: 2vh;
  transform: scale(0.95);
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.form-form.visible {
  opacity: 1;
  transform: scale(1);
}

.feedback-input {
  color:white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  line-height: 150%;
  border-radius: 20px;
  background-color: transparent;
  border:2px solid #fefeff50;
  transition: all 0.3s;
  padding: 0.5vw 1vw;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #dbb65e; }

textarea {
  height: 30vh;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  line-height: 150%;
  width: 50%;
  background-color:#dbb65e;
  border-radius: 20px;
  border:0;
  cursor:pointer;
  color:white;
  transition: all 0.3s;
  padding: 0.5vw 1vw;
}
[type="submit"]:hover { background-color:#dbb65e;  }




/* SECTION FOOTER */

.footer {
  background-color: #111111;
  display: flex;
  position: relative;
  height: fit-content;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-top: 2px #fefeff15 solid;
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 75%;
}

.footer-column-main {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
}

.footer-column-other {
  margin-top: 7.5vh;
  margin-bottom: 0vh;
}

.footer-title {
  margin-bottom: 2vw;
}

.footer-description {
  margin-top: 0%;
  margin-bottom: 1vw;
}

.footer-logo {
  position: relative;
  width: 9vw;
  margin-top: 0%;
  margin-bottom: 1vw;
}

.footer-text {
  color: #fefeff75;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.footer-text:hover {
  color: #fefeff50;
}

/* SECTION FAQ */

.faq {
  background-color: #070E2B;
  height: 90vh;
  display: flex;
}

.seven {
  z-index: 20;
  background-color: #070E2B;
  width: 100%;
  height: auto;
  position: relative;
}

.seven-content {
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 0%;
  background-color: transparent;
  flex-direction: column;
  margin-left: 5%;
  z-index: 10;
  position: relative;
}

.seven-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seven-row-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.accordion-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion {
  background-color: #fefeff15;
  margin-bottom: 1vw;
  cursor: pointer;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.6s ease;
  border-radius: 35px;
}

.accordion-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.accordion-icon {
  background-color: #1931FE;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fefeff;
}

.accordion:hover {
  background-color: #fefeff25;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.5s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.small-text-accordion {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1vw;
  line-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 2vw;
}

.rotate {
  transform: rotate(180deg);
}

.seven-row-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.seven-socials {
  width: 80%;
  height: auto;
  background-color: #fefeff15;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  border-radius: 35px;
}

.seven-socials-icons {
  width: auto;
  height: auto;
  display: flex;
  gap: 1vw;
}

.fa-brands {
  color: #fefeff;
  font-size: 1.5vw;
  cursor: pointer;
  transition: 0.25s ease-in;
}

.fa-brands:hover {
  color: #fefeff75;
}

.seven-get-started {
  width: 80%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 35px;
  background-color: #fefeff15;
  margin-top: 7.5%;
}

.ready-to-get-started {
  width: 75%;
  text-align: center;
  line-height: 125%;
}

.ready-to-get-started-description {
  text-align: center;
  width: 75%;
}

.broneeri-kõne-seven {
  width: 75%;
  height: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  background-color: #1931FE;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.broneeri-kõne-seven:hover {
  background-color: #1931FE90;
}

/* SECTION BUYNOW */

.buynow {
  background-color: #070E2B;
  height: 90vh;
  display: flex;
}

.redbackground {
  background-color: #F02D25;
}


/* LOADING SCREEN DESKTOP */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 12;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #111111;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-screen--hidden {
  animation: fade-out 0.5s ease-in-out forwards 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-screen__title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 5vw;
  text-transform: uppercase;
  margin: 0;
  color: #fefeff;
}

.progress__container {
  width: 100%;
  height: 1vw;
  background-color: #111111;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.progress__bar {
  width: 0;
  height: 100%;
  background-color: #fefeff;
  transition: width 0.5s ease-in-out;
}


/* MOBILE STYLING */

@media (max-width: 768px) {

  .mobile-scroll {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: transparent;
  }

  /* TEXTS */

.medium-headline{
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 100%;
}

.small-headline{
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.15rem;
  line-height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.smallest-headline{
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.45rem;
  line-height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.headline-blue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #fefeff, #1931FE, #1931FE, #fefeff, #1931FE, #1931FE, #fefeff);
  background-size: 400% 400%;
  animation: animate 8s linear infinite alternate;
}

@keyframes animate {
  0% { background-position: 100% 100%; }
  100% { background-position: 0 0; }
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 145%;
}

.small-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
}

.small-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.big-text {
  color: #111111;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 100%;
  margin-top: 5%;
  margin-bottom: 0%;
}



}




